html, body{
    height: 100%;
    width: 55vh;
    place-items: center;
    background: #f2f2f2;
    text-align: center;
}

.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image{
    height: 290%;
    width: 300px;
    margin: 0 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.image img{
    height: 100%;
    width: 100%;
}

.bottom button{
    margin-bottom: 10px;
    border-radius: 7px;
}

.bottom button:hover{
    color: rgb(255,0,0);
}